.body{
	display: flex;
	widht: 3810px;
	height: 2160px;
	color: #FFFFFF;
	
}
.body1{
	display: flex;
	color: #FFFFFF;
	background-color: #01794F;
	
.body2{
	display: flex;
	color: #FFFFFF;
	background-color: #01794F;
	
}


.q {
	margin: 0px 20px 20px 20px;
	display: flex;
	color: #FFFFFF;
	background-color: #01794F;
}
.w{
	margin: 0px 20px 20px 20px;
	display: flex;
	color: #FFFFFF;
	background-color: #01794F;
}
.e{
	margin: 0px 20px 20px 20px;
	display: flex;
	color: #FFFFFF;
	background-color: #01794F;
}

.r {
	margin: 0px 20px 20px 20px;
	display: flex;
	color: #FFFFFF;
	background-color: #01794F;
}
.t{
	margin: 0px 20px 20px 20px;
	display: flex;
	color: #FFFFFF;
	background-color: #01794F;
}
.y{
	margin: 0px 20px 20px 20px;
	display: flex;
	color: #FFFFFF;
	background-color: #01794F;
}
.body123{
	display: flex;
	color: #3cff33;
	background-color: #01794F;
}


